body {
    background: linear-gradient(to bottom right, #6aa8b8, #d6e6e3);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: white;
    width: 800px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #444;
}

.form-row {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.form-row div {
    flex: 1;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #2a6a77;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    background-color: #fff;
    color: #000;
}

input:focus, select:focus, textarea:focus {
    border-color: #44b39b;
    box-shadow: 0 0 5px rgba(68,179,155,0.4);
}

textarea {
    height: 100px;
    resize: none;
}

.range-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

output {
    background: #1abc9c;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.create-btn {
    background: #1abc9c;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    transition: 0.3s;
}

.create-btn:hover {
    background: #17a589;
}
